@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello internet, my old friend.</h1>
    <p>I've come to surf on you again</p>
    <p>Because a server softly storing</p>
    <p>Dropped its data while I snoring</p>
    <p>And the server that was started</p>
    <p>on Azure still remains</p>
    <p>Within the loss of data</p>
    <p>In restless nights I work alone</p>
    <p>Forgotten git with many clones</p>
    <p>'Neath the image of my docker</p>
    <p>I pushed my code to the new server</p>
    <p>When my eyes were stabbed by the flash of</p>
    <p>a blue screen that made my scream</p>
    <p>And caused the loss of data</p>
    <p>And in the master branch I saw</p>
    <p>ten thousand conflicts, maybe more</p>
    <p>People coding without branching</p>
    <p>People merging without updating</p>
    <p>People writing code that never tests and no one could</p>
    <p>stop the loss of data</p>
    <p>Fools said I, you do not know</p>
    <p>conflicts like a cancer grow</p>
    <p>Hear my words that I might teach you</p>
    <p>Take my branch that I might merge you</p>
    <p>But my words like repo like many others filled</p>
    <p>And echoed with all of their merge conflicts</p>
    <p>And the people stopped and cried</p>
    <p>for with garbage code they tried</p>
    <p>And the site flashed out its warning</p>
    <p>At its words I was foaming</p>
    <p>And Azure said, 'Loss on your server</p>
    <p>try starting it up again now,' and 'critical loss' </p>
    <p>And I cried at the loss of data</p>

    <p></p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
